* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family:'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1A1A;
}

.App {
  text-align: center;
}

.menu {
  margin-top: -27px;
  margin-bottom: 50px;
}

.todos-container {
  margin-top: 90px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 40px 30%;
  text-align: center;
}